body {
    background-color: #121212;
}

.root{
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-auto-columns: auto 1fr;
    grid-template-areas: 
                "navbar main-view main-view"
                "player player player";
}